:root { 
--gray_600:#6d6d6d; 
--gray_400:#c2c2c2; 
--red_A100:#ff8577; 
--black_900_0f:#0000000f; 
--black_900_3f:#0000003f; 
--gray_300:#e6e6e6; 
--amber_A400:#ffc600; 
--gray_50:#fafaf5; 
--light_green_900:#426b1f; 
--green_A700:#0fa958; 
--black_900:#000000; 
--deep_orange_600:#f24e1e; 
--indigo_A400:#5551ff; 
--blue_300:#699bf7; 
--deep_purple_A200:#a259ff; 
--white_A700:#ffffff; 
--deep_purple_A200_01:#9747ff; 
}